*, *::before, *::after {
    /* outline: solid 1px #f006; */
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
   opacity: 0.8;
}

